@charset "UTF-8";
/*  Mixin*/
/* Estilos para pagina Analisis de datos */
/*  contenedor de formulario que activa la tabla (activaria) */
.formulario {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 400px;
  margin-right: 20px;
}

/* contenedor donde esta la tabla */
.tablas {
  border: 1px solid rgba(114, 113, 113, 0.2);
  width: auto;
}

/*  estilos a la tabla */
table {
  color: #272626;
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid;
}

thead {
  background-color: #969393;
}

th {
  padding: 20px 15px;
  font-weight: 700;
  text-transform: uppercase;
}

td {
  padding: 15px;
  border-bottom: solid 1px;
  text-align: center;
}

tbody tr {
  cursor: pointer;
}
tbody tr:hover {
  background: rgb(211, 209, 209);
}

/*  activo flex, entre el formulario y la tabla de la pagina analisis de datos */
#analisis_datos {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 25px;
}

.formulario, .tablas {
  width: 50%;
  padding: 0px;
}

.formulario {
  background: url("../img/analisis_datos.jpg");
  background-size: cover;
  background-position: center center;
}

.analisis {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f5f1f1;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.h2_formulario {
  background-color: #525050;
}

.analisis label, .analisis select, .analisis input {
  width: 100%;
}

.conclusion {
  border: 1px solid;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  line-height: 2;
  padding: 20px;
  margin: 50px;
}
.conclusion h3 {
  color: black;
  text-decoration: underline;
  margin: 15px 0px 25px 0px;
}
.conclusion p {
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Aplico la fuente que baje de Google Fonts*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 10px;
  border: 1px solid;
  background: url(../img/body.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/*  estilos pagina contacto. */
.contenedor_contacto {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  margin: 20px 20px;
  padding: 10px;
}

.mb-3 {
  padding: 10px;
}

.form-label {
  font-weight: bold;
  text-transform: uppercase;
}

.form-control {
  border: 1px solid rgb(56, 55, 55);
}

/* Estilo al footer */
footer {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 10px 100px;
  justify-content: space-around;
  padding: 10px;
  background-color: white;
  color: black;
}

.derechos-reservados {
  padding: 10px;
  margin-right: 10px;
}

footer p:before {
  content: "|";
  margin-right: 5px;
}
footer p:after {
  content: "|";
  margin-left: 5px;
}

.redes {
  display: flex;
  gap: 10px;
}

footer .redes .redes_img {
  height: 30px;
  width: 30px;
}
footer .redes .redes_img:hover {
  filter: brightness(75%);
  box-shadow: 0 0 5px 2px #ccc;
  height: 50px;
  width: 50px;
}

/* Estilos al Header  */
header {
  display: flex;
  width: 90%;
  margin: 10px;
  height: auto;
  justify-content: space-between;
  align-items: center;
  border: none;
  box-shadow: 0 0 10px rgba(70, 69, 69, 0.1);
  border-radius: 5px;
}

.logo {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 25%;
  margin-left: 100px;
}
.logo .img_logo {
  width: 100%;
  height: auto;
  border-radius: 40% 40%;
}
.logo h1 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: rgb(245, 245, 245);
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
.logo h1:hover {
  color: #000000;
  cursor: pointer;
  opacity: 0.7;
  border-radius: 10px;
  background-color: white;
}

/* Estilos a la barra de navegacion. */
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: right;
}
nav ul li a:hover {
  border-radius: 5px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  filter: brightness(75%);
  box-shadow: 0 0 5px 2px #181717;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #000000;
}
nav li {
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
nav a {
  text-decoration: none;
  color: #050505;
  font-size: 1.2rem;
}

/*  Estilos a la pagina de index */
/* Grids  */
.contenedor_index_ad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas: "info info ad" "info info ad" "info info ad" "info info ad";
  padding: 20px;
  margin: 10px;
  background-color: white;
}

.info {
  grid-area: info;
}

.ad {
  grid-area: ad;
}

.info {
  grid-area: info;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
.info > h2 {
  text-align: center;
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.info > p {
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  margin: 25px;
  line-height: 1.5;
  text-align: justify;
  color: black;
  font-weight: bold;
}

.noticias {
  height: 90%;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
}
.noticias .noticias_hijas {
  max-width: 90%;
}

.noticias_hijas {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.noticias_hijas > h3 {
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
  text-decoration-color: black;
  max-width: 90%;
}
.noticias_hijas > p {
  line-height: 1.5;
  text-align: justify;
  color: black;
  font-size: 1rem;
  max-width: 90%;
}

strong {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 20px;
  max-width: 90%;
  cursor: pointer;
}

.ad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #091a63;
  border-radius: 8px;
}

.ad-1, .ad-2 {
  margin-bottom: 40px;
  padding: 100px;
  width: 90%;
  height: 45%;
  border-radius: 10px;
  text-align: center;
  align-self: center;
  align-items: center;
  font-weight: bold;
}

.ad-1 {
  background: url("../img/soja.jpg");
  background-size: center;
  background-position: center;
  background-repeat: no-repeat;
}

.ad-2 {
  background: url("../img/pizarra_cereales.jpg");
  background-size: center;
  background-position: center;
  background-repeat: no-repeat;
}

/* Estilo a todas las secciones del index, y para tener nocion de la separacion. */
.seccion_imagenes, .seccion_videos, .seccion_mapas {
  padding: 25px;
  margin: 25px;
  background-color: white;
}

.seccion_videos {
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.h2_index {
  padding-top: 5px;
  padding-bottom: 20px;
  font-weight: bold;
  text-decoration: underline;
  color: black;
  text-decoration-color: #000000;
  text-align: center;
  background-color: #fffefe;
}

.mapa {
  width: 100%;
}

.video1, .video2 {
  flex-grow: 1;
  margin: 5px 5px;
}

iframe {
  width: 100%;
  height: 315px;
}

.img-Index {
  width: 200px; /* Ajusta según tus necesidades */
  height: 200px; /* Ajusta según tus necesidades */
  margin: 20px 10px;
  border-radius: 15px;
}

.tituloTarjetaIndex {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}

/*Estilos Main*/
main {
  width: 85%;
  margin: 0px 100px;
  background-color: white;
  border: 1px solid rgb(253, 253, 253);
  border-radius: 10px;
}

/* Medias Queries */
/* Medias Queries Aplicada a la pagina de inico */
/* Dispositivos medios-grandes. */
@media only screen and (max-width: 951px) {
  main {
    width: 90%;
    margin-left: 10px;
    margin-right: 5px;
  }
  header {
    flex-direction: rows;
    align-items: center;
  }
  nav {
    margin-top: 55px;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  nav ul li {
    margin-bottom: 10px;
    background: #eebe64;
    border-radius: 10px;
    font-weight: bold;
  }
  nav ul li a:hover {
    text-decoration: underline;
    background-color: hwb(160 28% 29%);
  }
  nav ul.show {
    display: flex;
  }
  .tituloTarjetaIndex {
    font-weight: 0.5rem;
  }
  .contenedor_index_ad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    grid-auto-flow: row;
    grid-template-areas: " info info" " info info" " ad ad" " ad ad";
    padding: 20px;
    background-color: white;
  }
  footer {
    width: 90%;
    margin-left: 10px;
    margin-right: 5px;
  }
}
@media only screen and (max-width: 951px) {
  .contenedor_tarjetas {
    display: flex;
    flex-direction: column;
  }
  .img_tar {
    width: 80%;
  }
}
@media (min-width: 600px) and (max-width: 950px) {
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /*  videos uno debajo del otro. */
  .seccion_videos {
    display: flex;
    flex-direction: column;
  }
  /* Seccion inicio presentacion*/
  .noticias p {
    font-size: 1.5rem;
    line-height: 1.5;
    word-wrap: break-word;
  }
  .noticias {
    overflow: hidden;
  }
  nav ul li a:hover {
    cursor: pointer;
  }
}
@media (min-width: 300px) and (max-width: 599px) {
  header {
    padding: 45px;
    margin: 10px 40px;
    flex-direction: column;
  }
  .logo {
    flex-direction: column;
    margin: 0px 40px;
  }
  nav ul {
    justify-items: center;
  }
  .info > h2, .noticias, .noticias_hijas > h3, .noticias_hijas > p, .datos_contacto {
    overflow: visible;
    text-overflow: initial;
    white-space: normal;
    margin-bottom: 20px;
    font-size: 90%;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .derechos_reservados {
    text-align: center;
  }
  .seccion_videos {
    display: flex;
    flex-direction: column;
  }
  .img_tar {
    margin-right: 20px;
  }
}
/*  estilos paginas noticias */
.noticias {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgb(155, 154, 154);
  color: black;
  padding: 10px 5px;
}
.noticias h2 {
  color: black;
  text-decoration: underline;
  padding-bottom: 25px;
}
.noticias h3 {
  color: black;
  margin-bottom: 25px;
}
.noticias a {
  text-decoration: none;
  color: #050505;
  font-size: 1.2rem;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
}
.noticias a:hover {
  background: #295e68;
  color: #FFf;
}

/*  Estilos servicios */
.servicios_ofrecidos {
  font-weight: bold;
  padding: 25px 25px;
}
.servicios_ofrecidos > h2 {
  color: black;
  text-align: center;
  margin: 10px 20px;
  text-decoration: underline;
}
.servicios_ofrecidos > p {
  padding-top: 20px;
}

.listas_servicios {
  padding: 20px 40px;
  line-height: 2.5;
}

.img_tar {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
}

.contenedor_tarjetas {
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-evenly;
  max-width: 1000px;
}

.tarjetas_servicios {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.tarjetas_servicios:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.tarjetas_servicios .contenido {
  padding: 15px;
  text-align: center;
}
.tarjetas_servicios .contenido p {
  line-height: 1.5;
  color: #6a6a6a;
}
.tarjetas_servicios .contenido h3 {
  font-weight: 400;
  margin-bottom: 15px;
  text-decoration: underline;
}
.tarjetas_servicios .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
}
.tarjetas_servicios .contenido a:hover {
  background: #2fb4cc;
  color: #FFf;
}

.datos_contacto {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(155, 154, 154);
}
.datos_contacto > h3 {
  max-width: 100%;
  word-wrap: break-word;
  margin: 0;
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: underline;
  color: black;
  text-decoration: underline;
}
.datos_contacto > p {
  max-width: 100%;
  word-wrap: break-word;
  color: black;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.object-fit-cover {
  object-fit: contain;
}

/*# sourceMappingURL=styles.css.map */
